@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a-scene {
  width: 300px;
  height: 300px !important;
}

.name-input:focus {
  border-color: red;
  box-shadow: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}